In [9]:
"""
Example using Dask with the Titanic dataset.
"""
import requests
import dask.dataframe as dd
from suricata import generate_report

from IPython.display import HTML


TITANIC_URL = (
    "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
)

In [10]:
titanic_ddf = dd.read_csv(TITANIC_URL)
html_report = generate_report(titanic_ddf, output_file="titanic_dask_report.html")
print("Dask report saved as 'titanic_dask_report.html'")
HTML(html_report)

INFO:suricata.logger:summary_statistics executed in 0.1398 seconds
INFO:suricata.logger:missing_values executed in 0.0681 seconds
INFO:suricata.logger:correlation_matrix executed in 0.0484 seconds

Dask report saved as 'titanic_dask_report.html'